body{
    background-color: hsl(202, 86%, 94%);
    min-height: 95vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 500;
}
.container{
    display: flex;
    margin: auto;
    align-self: center;
    width: 70%;
    /* background-color: white; */
    border-radius: 50px;
}
.left{
    flex: 2;
    background-color: white;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 20px;
}
.right{
    flex: 2;
    background-color: hsl(202, 55%, 16%);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 100px;
    padding: 20px;
}
#header-row{
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
}
h3{
    font-weight: 700;
}
label{
    color: hsl(200, 24%, 40%);
    /* color: hsl(202, 55%, 16%); */
}
.row{
    margin-bottom: 10px;
}
.form-floating{
    height: 30px;
}
.input-group-text{
    background-color: hsl(202, 86%, 94%);
}
#second-row{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
}
.form-check{
    margin-bottom: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}
#submit{
    border: 0px solid hsl(61, 70%, 52%);
    background-color: hsl(61, 70%, 52%);
    padding: 10px 30px;
    border-radius: 40px;
}
form{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
#illustration-empty{
    margin: auto;
    display: block;
    margin-top:  40px;
    margin-bottom: 40px;
}
.before-calc > h2, .after-calc > h2{
    color: white;
    text-align: center;
}

.before-calc > p, .after-calc > p{
    font-weight: 500;
    color: hsl(203, 41%, 72%);
    text-align: center;
}

.no-show{
    display: none;
}
@media screen and (max-width: 768px) {
    .container{
        width: 100%;
        flex-direction: column;
        padding: 0px;
    }
    .left, .right{
        border-radius: 0px;
    }
    #second-row{
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr;
    }
    #submit{
        align-self: center;
        padding: 10px 10px;
        width: 100%;

    }
}


/* .input-radio-box{
    height: 30px;
    border: 1px solid rgb(118, 118, 118);
} */